numpy
scipy==1.10.1


git+https://github.com/graphcore/popxl-addons.git@sdk-release-3.3.0
transformers
tokenizers==0.13.3
accelerate==0.20.3

pytest==6.2.5
pytest-pythonpath==0.7.4

graphcore-cloud-tools[logger] @ git+https://github.com/graphcore/graphcore-cloud-tools
examples-utils[common] @ git+https://github.com/graphcore/examples-utils@v3.2

-f https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1+cpu
