optimum-graphcore @ git+https://github.com/huggingface/optimum-graphcore.git@v0.6.1-release
--find-links https://download.pytorch.org/whl/torch_stable.html
torchaudio == 0.13.1+cpu
librosa
jiwer
soundfile
examples-utils[common] @ git+https://github.com/graphcore/examples-utils@latest_stable
