optimum-graphcore==0.7
--find-links https://download.pytorch.org/whl/torch_stable.html
torchaudio == 0.13.1+cpu
librosa
jiwer
soundfile
graphcore-cloud-tools[logger] @ git+https://github.com/graphcore/graphcore-cloud-tools
