ipywidgets==8.0.6
awscli==1.27.76
matplotlib==3.7.1
pydantic<2 # Molfeat 0.8.8 breaks with newer versions
molfeat==0.8.8
transformers
tabulate==0.9.0
seaborn==0.12.2
stmol
rdkit==2023.3.1
py3Dmol==2.0.1.post1
torchinfo==1.7.2
numpy
graphcore-cloud-tools[logger] @ git+https://github.com/graphcore/graphcore-cloud-tools@v0.2
