ipywidgets==8.0.6
awscli==1.27.76
matplotlib==3.7.1
molfeat==0.8.8
transformers==4.30.0
tabulate==0.9.0
seaborn==0.12.2
stmol
rdkit==2023.3.1
py3Dmol==2.0.1.post1
torchinfo==1.7.2
numpy
examples-utils[common] @ git+https://github.com/graphcore/examples-utils@latest_stable
